In [1]:
x = [1, '11', True, [1, 2, False]]
x

[1, '11', True, [1, 2, False]]

In [3]:
x.append(1)
x

[1, '11', True, [1, 2, False], 1]

In [4]:
x.extend([100, 10, 1])
x

[1, '11', True, [1, 2, False], 1, 100, 10, 1]

In [6]:
x.insert(2,'insertion')
x

[1, '11', 'insertion', True, [1, 2, False], 1, 100, 10, 1]

In [7]:
x.remove(1)
x

['11', 'insertion', True, [1, 2, False], 1, 100, 10, 1]

In [9]:
x.pop(6)

10

In [10]:
x

['11', 'insertion', True, [1, 2, False], 1, 100, 1]

In [12]:
x.index(100)

5

In [27]:
x = [1, 40, 32, 47, 93, 76]
x.sort()
x

[1, 32, 40, 47, 76, 93]

In [35]:
x = [1, 32, 40, 47, 76, 93]
x.reverse()
x

[93, 76, 47, 40, 32, 1]

In [37]:
x.clear()
x

[]

In [56]:
x = [1, '11', 'insertion', True, [1, 2, False], 1, 100, 10, 1]
x[0]

1

In [54]:
x[-2]

10

In [41]:
x[::-1]

[1, 10, 100, 1, [1, 2, False], True, 'insertion', '11', 1]

In [42]:
x[3: 5]

[True, [1, 2, False]]

In [43]:
x[1 : 6 : 2]

['11', True, 1]

In [44]:
x[1 : 6 : -2]

[]

In [47]:
x[::] == x

True

In [59]:
x

[1, '11', 'insertion', True, [1, 2, False], 1, 100, 10, 1]

In [58]:
i = 1
rev = []
while i < len(x)+1:
    rev.append(x[-i])
    i +=1
rev

[1, 10, 100, 1, [1, 2, False], True, 'insertion', '11', 1]

In [65]:
i = 1
rev = []
for i in range(1,len(x)+1):
    rev.append(x[-i])
    i +=1
rev

[1, 10, 100, 1, [1, 2, False], True, 'insertion', '11', 1]

**( ) - КОРТЕЖИ - неизменяемые списки, безопаснее и быстрее если не нужно менять данные**

In [76]:
t = (1, 'x', False, (1, 100), [1, 3, 2])
t

(1, 'x', False, (1, 100), [1, 3, 2])

In [80]:
t.index(1)

0

In [81]:
t.count(1)

1

In [83]:
t[::-1]

([1, 3, 2], (1, 100), False, 'x', 1)

**{ } - СЛОВАРИ - изменяемое неупорядоченное все с доступом по ключу**

In [2]:
p = {
    "name": "Laptop",
    "brand": "Dell",
    "price": 1200.00,
    "in_stock": True
}
p

{'name': 'Laptop', 'brand': 'Dell', 'price': 1200.0, 'in_stock': True}

In [7]:
import pandas as pd
pd.DataFrame([p])

     name brand   price  in_stock
0  Laptop  Dell  1200.0      True

In [8]:
p['name']

'Laptop'

In [9]:
if 'brand' in p:
    print(p['brand'])

Dell

In [14]:
print(f'{p.get('brand')}, {p.get('brands')}')

Dell, None

In [17]:
p.keys()

dict_keys(['name', 'brand', 'price', 'in_stock'])

In [18]:
p.values()

dict_values(['Laptop', 'Dell', 1200.0, True])

In [19]:
p.items()

dict_items([('name', 'Laptop'), ('brand', 'Dell'), ('price', 1200.0), ('in_stock', True)])

In [21]:
p.update({'test':'ok'})
p

{'name': 'Laptop',
 'brand': 'Dell',
 'price': 1200.0,
 'in_stock': True,
 'test': 'ok'}

**{ } Множества - уникальные элементы**

In [25]:
set = {1,2,3,4,3,5,3,5}
set

{1, 2, 3, 4, 5}

In [35]:
set.add(1)
set.add(10)
set.add(100)
set.add(200)
set

{1, 2, 3, 4, 5, 10, 100, 200}

In [36]:
set.remove(100)
set

{1, 2, 3, 4, 5, 10, 200}

In [38]:
set.discard(200)
set

{1, 2, 3, 4, 5, 10}

In [39]:
set.clear()
set

set()

In [44]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [45]:
inter_set = set1.intersection(set2)
inter_set

{3}

In [46]:
diff_set = set1.difference(set2)
diff_set

{1, 2}

In [47]:
symdiff_set = set1.symmetric_difference(set2)
symdiff_set

{1, 2, 4, 5}

In [48]:
my_frozenset = frozenset([1, 2, 3, 4])
print(my_frozenset)

frozenset({1, 2, 3, 4})

In [49]:
frozen_set1 = frozenset([1, 2, 3])
frozen_set2 = frozenset([4, 5, 6])

my_dict = {frozen_set1: "Value 1", frozen_set2: "Value 2"}

print(my_dict[frozen_set1])

Value 1