In [45]:
import pandas as pd

df_ptk = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-gavristov/allweld/items.csv', sep=';')

In [46]:
df_ptk= df_ptk.rename(columns = {'Артикул' : 'art'})
df_ptk.head(1)

,ID,Наименование продукции,art,РРЦ,Наличие в МСК СВОБОДНЫЙ,Наличие в МСК В РЕЗЕРВЕ,Наличие в СПБ СВОБОДНЫЙ,Наличие в СПБ В РЕЗЕРВЕ,КИУ,КТУ,Краткое описание,Полное описание,Техническая информация,Категория,Производитель,Ссылка на товар,Руководство по эксплуатации,Фотографии
0,4,"Манометр с поверкой 4,0 МПа, ацетилен",001.050.907,499,0,7,13,1.0,NaN,Сварочный манометр для ацетилена с диапазоном ...,"Сварочный манометр типа ТМ, серия 10. Применяе...",Тип сварочного манометра: ТМ-210\nИзмеряемая с...,0,Товары для газосварочных работ / Манометры,ПТК,https://ptk-svarka.ru/product/manometr-40-mpa-...,NaN,https://ptk-svarka.ru/storage/app/uploads/publ...

In [47]:
df_1c = pd.read_excel('/mnt/HC_Volume_18315164/home-jupyter/jupyter-v-gavristov/allweld/1с.xls')
df_1c = df_1c.fillna(0)
df_1c= df_1c.rename(columns = {'Прайс-лист на 29 сентября 2024 г.' : 'art', 'Unnamed: 9' : 'test'})
df_1c.head(1)

,art,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,test,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,0,0.0,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0

df_1c= df_1c.rename(columns={'Прайс-лист на 29 сентября 2024 г.' : 'art})

In [51]:
df = df_ptk.merge(df_1c, on='art', how='left')
df = df.loc[df.test.isnull()]

In [53]:
df.to_excel("ptk_new.xlsx")